<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-primary navbar-expang-lg">
      <div class="container">
        <a href="/" class="navbar-brand">Blogapp</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="/blogs" class="nav-link">Blog Listesi</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <!-- Menu -->
          <div class="list-group">
            <a href="" class="list-group-item list-group-item-action active"
              >Web Geliştirme</a
            >
            <a href="" class="list-group-item list-group-item-action"
              >Mobil Uygulama</a
            >
            <a href="" class="list-group-item list-group-item-action"
              >Veri Analizi</a
            >
            <a href="" class="list-group-item list-group-item-action"
              >Programlama</a
            >
          </div>
        </div>
        <div class="col-md-9">
          <h1 class="h3 mb-3">Blog Listesi</h1>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-3">
                <img src="/static/images/1.jpeg" class="img-fluid" alt="" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Komple Uygulamali Web Geliştirme</h5>
                  <p class="card-text">
                    Sifirdan İleri Seviyeye "Web Geliştirme":Html,Css,Sass,
                    Flexbox, zart ,zurt , js , odur , şudur , budur
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-3">
                <img src="/static/images/2.jpeg" class="img-fluid" alt="" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Komple Uygulamali Web Geliştirme</h5>
                  <p class="card-text">
                    Sifirdan İleri Seviyeye "Web Geliştirme":Html,Css,Sass,
                    Flexbox, zart ,zurt , js , odur , şudur , budur
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-3">
                <img src="/static/images/3.jpeg" class="img-fluid" alt="" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Komple Uygulamali Web Geliştirme</h5>
                  <p class="card-text">
                    Sifirdan İleri Seviyeye "Web Geliştirme":Html,Css,Sass,
                    Flexbox, zart ,zurt , js , odur , şudur , budur
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a href="" class="page-link">Geri</a>
              </li>
              <li class="page-item active">
                <a href="" class="page-link">1</a>
              </li>
              <li class="page-item">
                <a href="" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="" class="page-link">İleri</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
